/translator/.idea
/content
/course_website/.idea
/.idea
/course_website/assets
course_website/_pages/*.adoc
course_website/_site/**/*
course_website/uploads/**/*
translator/*.adoc
translator/*.pp.md
translator/*.html
translator/*.md
