<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel='stylesheet' type='text/css' href='/stylesheets/exercises.css'>
  <script src='/assets/js/main-bundle.js'></script>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Trigger mathjax-page -->
    <script type="math/tex; mode=display" style="display:none;"></script>

  </body>

</html>


