// From https://gist.github.com/hauleth/2667231
// http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette


$butter-light:      #fce94f;
$butter:            #edd400;
$butter-dark:       #c4a000;

$orange-light:      #fcaf3e;
$orange:            #f57900;
$orange-dark:       #ce5c00;

$chocolate-light:   #e9b96e;
$chocolate:         #c17d11;
$chocolate-dark:    #8f5902;

$chameleon-light:   #8ae234;
$chameleon:         #73d216;
$chameleon-dark:    #4e9a06;

$sky-blue-light:    #729fcf;
$sky-blue:          #3465a4;
$sky-blue-dark:     #204a87;

$plum-light:        #ad7fa8;
$plum:              #75507b;
$plum-dark:         #5c3566;

$scarlet-red-light: #ef2929;
$scarlet-red:       #cc0000;
$scarlet-red-dark:  #a40000;

$aluminium-1-light: #eeeeec;
$aluminium-2-light: #888a85;
$aluminium-1:       #d3d7cf;
$aluminium-2:       #555753;
$aluminium-1-dark:  #babdb6;
$aluminium-2-dark:  #2e3436;
